<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place Details</title>
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .popup {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
            display: none;
        }
        .popup-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888888;
            width: 30%;
            font-weight: bolder;
        }
        .popup-content button {
            display: block;
            margin: 0 auto;
        }
        .show {
            display: block;
        }
        h1 {
            color: #5898FF;
        }
        textarea {
            position: relative;
            resize: none;
            width: 100%;
            height: 20%;
        }
        .button-container {
            display: flex;
        }
        .formClear {
            clear:left;
            height: 5px;
        }

        #reportsAppeals {
            overflow: hidden;
        }
        #reportList {
            float:left;
        }
        #appealList {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <h1>Mod Page</h1>
    <!-- details -->
    <br>

    <div id="reportsAppeals">
        <div id="reportList">
            <h2>Reports</h2>
            <ul th:each="i, ib : ${reports}">
                <div class="reportBlock" th:object="${i}">
                    <p th:id="'rep' + ${ib.index}" class="repID">[[*{reportID}]]</p>
                    <li th:text="'User Reporting: ' + *{reportingUserID}"></li>
                    <li th:text="'Reported User: ' + *{contentUserID}"></li>
                    <li th:text="'Reported Content: ' + ${i.getReportedText()}">
                    <li th:text="'Report: ' + ${i.getExplanation()}"></li>
        
                    <li><button th:id="'ignoreBtn' + ${i.getReportID()}" class="ignBtn">Reject Report</button>
                    <li><button th:id="'deleteBtn' + ${i.getReportID()}" class="delBtn">Delete Reported Content</button>
                    <li><button th:id="'delBanBtn' + ${i.getReportID()}" class="delBanBtn">Delete Content and Ban User</button>
                    <br>
                </div>
            </ul>
        </div>
        <div id="appealList">
            <h2>Appeals</h2>
            <ul th:each="i, ib : ${appeals}">
                <div class="appealBlock" th:object="${i}">
                    <p th:id="'rep' + ${ib.index}" class="repID">[[*{reportID}]]</p>
                    <li th:text="'User Reporting: ' + *{reportingUserID}"></li>
                    <li th:text="'Reported User: ' + *{contentUserID}"></li>
                    <li th:text="'Reported Content: ' + ${i.getReportedText()}">
                    <li th:text="'Report: ' + ${i.getExplanation()}"></li>
                    <li th:text="'Appeal: ' + ${i.getAppeal()}"></li>
        
                    <li><button th:id="'appRejBtn' + ${i.getReportID()}" class="appRejBtn">Reject Appeal</button>
                    <li><button th:id="'appAccBtn' + ${i.getReportID()}" class="appAccBtn">Accept Appeal</button>
                    <br>
                </div>
            </ul>
        </div>
    </div>

    <div id="ownerStatus">
        <div id="ownerRequestList">
            <h2>Place Ownership Requests</h2>
            <ul th:each="i, ib : ${ownerRequests}">
                <p th:id="'*{ownerReqId}'" class="ownerReqId">[[*{ownerReqId}]]</p>
                <p th:id="'rev' + ${ib.index}" class="revId">[[*{ownerReqId}]]</p>
                <div class="requestBlock" th:object="${i}">
                    <li th:text="*{userId} + ' requests ownership of: ' + *{placeName} + ' page'"></li>

                    <li><button th:id="'accReqBtn' + ${i.getOwnerReqID()}" class="accReqBtn">Approve</button>
                    <li><button th:id="'denyReqBtn' + ${i.getOwnerReqID()}" class="denyReqBtn">Deny</button>
                    <br>
                </div>
            </ul>
        </div>
    </div>

    <script>

        // Ajax setup
        let script = document.createElement('script');
        script.src = '//code.jquery.com/jquery-3.6.3.min.js';
        document.getElementsByTagName('head')[0].appendChild(script);
        

        /* - - - Append List - - - */


        let appAccBtns = document.getElementsByClassName("appAccBtn");
        let appRejBtns = document.getElementsByClassName("appRejBtn");

        for (let i = 0; i < appAccBtns.length; i++) {
            appAccBtns[i].addEventListener("click", function(event) {
                let values = [];
                values[0] = "appAcc";
                reportId = event.target.id.substring(9); // ID# of button
                console.log(reportId);
                values[1] = reportId;
                sendModReact(values);
            });
            appRejBtns[i].addEventListener("click", function(event) {
                let values = [];
                values[0] = "appRej";
                reportId = event.target.id.substring(9); // ID# of button
                console.log(reportId);
                values[1] = reportId;
                sendModReact(values);
            });
        }


        /* - - - Report List - - - */

        
        let ignBtns = document.getElementsByClassName("ignBtn");
        let delBtns = document.getElementsByClassName("delBtn");
        let delBanBtn = document.getElementsByClassName("delBanBtn");

        reportNum = "";
        for (let i = 0; i < ignBtns.length; i++) {
            ignBtns[i].addEventListener("click", function(event) {
                let values = [];
                values[0] = "ignore";
                reportId = event.target.id.substring(9); // ID# of button
                console.log(reportId);
                values[1] = reportId;
                sendModReact(values);
            });
            delBtns[i].addEventListener("click", function(event) {
                let values = [];
                values[0] = "delete";
                reportId = event.target.id.substring(9); // ID# of button
                console.log(reportId);
                values[1] = reportId;
                sendModReact(values);
            });
            delBanBtn[i].addEventListener("click", function(event){
                let values = [];
                values[0] = "delAndBan";
                reportId = event.target.id.substring(9); // ID# of button
                console.log(reportId);
                values[1] = reportId;
                sendModReact(values);
            });
        }

        function sendModReact(values) {
            $.ajax({
                type: "POST",
                url: "/mod/repReact",
                data: {vals: values},
                timeout: 30,
            }).done(function (data) {
                console.log(data);
            });
        }

        /*
        submitRep.addEventListener("click", function(){
            let repText = Rep.value;
            if (repText == "") {
                let repError = document.getElementById("repError");
                repError.textContent = "Report must contain Text";
                repError.style.color = "red";
            } else {
                let values = [];
                values[0] = repText;
                console.log("3");
                reportId = parseInt(document.getElementById("rev"+reviewNum).innerHTML);
                console.log("4 " + reportId);
                values[1] = reportId.toString();
                console.log("5");
                sendReport(values);
            }
        });
        
        cancelRep.addEventListener("click", function(){
            resetRepPop();
        });

        function resetRepPop(){
            myReport.classList.remove("show");
            Rep.value = "";
            repError.textContent = "";
        }

        function sendReport(values) {
            $.ajax({
                type: "POST",
                url: "${placePath}/reportRevReact",
                data: {vals: values},
                timeout: 60,
            }).done(function (data) {
                console.log(data);
            });
            resetRepPop();
        }
        */

        /* Owner Status */

        /*let ownerReqIds = document.getElementsByClassName("ownerReqId");
        for (let i = 0; i < ownerReqIds.length; i++) {
            ownerReqIds[i].style.display = "none";
        }
        console.log("Owner Req IDS:");
        for (let i = 0; i < ownerReqIds.length; i++) {
            console.log(ownerReqIds[i]);
        }*/

        let accReqBtns = document.getElementsByClassName("accReqBtn");
        let denyReqBtns = document.getElementsByClassName("denyReqBtn");

        for (let i = 0; i < accReqBtns.length; i++) {
            accReqBtns[i].addEventListener("click", function(event) {
                console.log("inside accept request");
                ownerReqId = event.target.id.substring(9);
                console.log("req id:" + ownerReqId);
                giveOwnerStatus(true, ownerReqId);
            });
            denyReqBtns[i].addEventListener("click", function(event) {
                console.log("inside deny request");
                ownerReqId = event.target.id.substring(9);
                console.log("req id:" + ownerReqId);
                giveOwnerStatus(false, ownerReqId);
            });
            
        }

        function giveOwnerStatus(give, ownerReqId) {
            console.log("reached giveOwnerStatus");
            console.log("give=" + give);
            console.log("ownerReqId=" + ownerReqId);
            $.ajax({
                type: "POST",
                url: "/mod/giveOwnerStatus",
                data: {give: give, ownerReqId: ownerReqId},
                timeout: 60,
            }).done(function (data) {
                console.log(data);
            });
        }
        
    </script>
</body>

</html>