<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reset Password</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <input type="password" placeholder="Enter new password" id="oldPassword"/>
        <input type="password" placeholder="Repeat new password" id="newPassword"/>
        <button id="submit">Submit</button>
        <p id="error" style="display: none; color: red">The password is not valid.</p>
        <p id="passed" style="display: none">Your password has been reset. You can click <a href="/login">here</a> to login.</p>
    </body>
    <script>
        document.getElementById("submit").addEventListener("click", function(e) {
            var oldpassword = document.getElementById("oldPassword").value;
            var newpassword = document.getElementById("newPassword").value;
            var jsonthing = {
                "oldPass" : oldpassword,
                "newPass" : newpassword
            };
            try {
                const response = fetch(window.location.href, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(jsonthing)
                }).then((response) => {
                    if (response.ok) {
                        document.getElementById("oldPassword").style.display = "none";
                        document.getElementById("newPassword").style.display = "none";
                        document.getElementById("submit").style.display = "none";
                        document.getElementById("error").style.display = "none";
                        document.getElementById("passed").style.display = "block";
                    }
                    else {
                        document.getElementById("error").style.display = "block";
                    }
                });
            }
            catch (error) {
                document.getElementById("error").style.display = "block";
            }
        });
    </script>
</html>