<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Events</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div id="trip">
            <h1 th:text="${trip.getName()}"></h1>
            <p>Owner: <a th:href="@{'/user/'+${trip.getOwner().getUsername()}}"><span th:text="${trip.getOwner().getUsername()}"></span></a></p>
            <p>Members: <a th:each="member : ${trip.getMembers()}" th:href="@{'/user/'+${member.getUsername()}}"><span th:text="${member.getUsername()}"></span></a></p>
            <p th:text="'Date Created: '+${trip.getCreated()}"></p>
            <p th:text="${trip.getDescription()}"></p>
        </div>
        <div id="newevent">
            <input type="text" id="newname" placeholder="Enter Title"/>
            <select name="places" id="selectPlace">
                <option disabled selected value>Select Place</option>
                <option th:each="place : ${places}" th:value="${place.getId()}" th:text="${place.getName()}" th:id="${place.getId()}"></option>
            </select>
            <input type="datetime-local" id="startdate"/>
            <input type="datetime-local" id="enddate"/>
            <textarea placeholder="description" id="newdescription"></textarea>
            <button id="createevent">Create New Event</button>
        </div>
        <table th:if="${events != null}">
            <tr th:each="event : ${events}">
                <td><a th:href="@{'/trips/'+${trip.getID()}+'/'+${event.getID()}}"><span th:text="${event.getName()}"></span></a></td>
            </tr>
        </table>
        <button th:if="${isowner} == true" id="deletetrip">Delete Trip</button>
    </body>
    <script>
        document.getElementById("createevent").addEventListener("click", function(e) {
            var name = document.getElementById("newname").value;
            var place = document.getElementById("selectPlace").value;
            var start = document.getElementById("startdate").value;
            var end = document.getElementById("enddate").value;
            var description = document.getElementById("newdescription").value;
            var message = {
                name : name,
                place : place,
                start : start,
                end : end,
                description : description
            };
            try {
                const response = fetch(window.location.href + "/new-event", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body : JSON.stringify(message)
                }).then((response) => response.json())
                .then((response) => {
                    window.location.href = window.location.href + "/" + response["eid"];
                });
            }
            catch (error) {
                console.log(error);
            }
        });
        document.getElementById("deletetrip").addEventListener("click", function(e) {
            try {
                const response = fetch(window.location.href + "/delete-trip", {
                    method: "POST"
                });
            } catch(error) {
                console.log(error);
            }
        });
    </script>
</html>