<!DOCTYPE html>
<html>
<head>
    <title>Review Data</title>

    <style>
        .likeBtn {
            background-color: lightgray;
        }
        .dislikeBtn {
            background-color: lightgray;
        }
        .likeBtn:hover {
            background-color: gray;
        }
        .dislikeBtn:hover {
            background-color: gray;
        }
        .liked {
            background-color: lightblue;
        }
        .disliked {
            background-color: pink;
        }
        .liked:hover {
            background-color: gray;
        }
        .disliked:hover {
            background-color: gray;
        }
    </style>
</head>

<body>
    <h1>Reviews by [[${username}]]</h1>
    Total reviews written: [[${revCount}]]<br>
    Total review comments written: [[${comCount}]]
    <br><br>
    <div th:if="${avgRevLikes} != -1">(Only you can see the following data)</div>
    <div th:if="${avgRating} != -1">Average review rating: [[${avgRating}]]</div>
    <div th:if="${avgRevLikes} != -1">Average likes per review: [[${avgRevLikes}]]</div>
    <div th:if="${avgComsPerRev} != -1">Average comments per review: [[${avgComsPerRev}]]</div>
    <br>

    <h1>Reviews</h1>

    <div id="reviewList">
        <ul th:each="i, ib : ${reviews}">
            <div class="reviewBlock" th:object="${i}">
                <div th:id="'rev' + ${ib.index}" class="revId">[[*{revId}]]</div>
                <div th:text="'Place: ' + ${placeNames[ib.index]}"></div>
                <div th:text="'Rated ' + *{stars} + ' stars'"></div>
                <div th:text="*{review}"></div>
                <button th:id="'lkBtn' + ${ib.index}" class="likeBtn">Like</button> <div th:id="'likes' + ${ib.index}" style="display:inline-block" th:text="*{likes}"></div>
                &emsp;<button th:id="'dlBtn' + ${ib.index}" class="dislikeBtn">Dislike</button> <div th:id="'dislikes' + ${ib.index}" style="display:inline-block" th:text="*{dislikes}"></div>
                <div th:id="'revReaction' + ${ib.index}" class="revReaction" th:text="${revReactions[ib.index]}"></div>
                <br><br>
            </div>
    
        </ul>
    </div>

    <script>

        // Ajax setup
        let script = document.createElement('script');
        script.src = '//code.jquery.com/jquery-3.6.3.min.js';
        document.getElementsByTagName('head')[0].appendChild(script);

        let revIds = document.getElementsByClassName("revId");
        for (let i = 0; i < revIds.length; i++) {
            revIds[i].style.display = "none";
        }
        let revReacts = document.getElementsByClassName("revReaction");
        for (let i = 0; i < revReacts.length; i++) {
            revReacts[i].style.display = "none";
        }

        let likeBtns = document.getElementsByClassName("likeBtn");
        let dislikeBtns = document.getElementsByClassName("dislikeBtn");

        for (let i = 0; i < likeBtns.length; i++) {
            likeBtns[i].addEventListener("click", function(event) {
                // Like button pressed
                // [0] = like ("1") or dislike ("0") button press,
                // [1] = review number on page (0 or higher)
                let values = [];

                values[0] = 1;

                // Review number on page (between 0 and max reviews per page - 1)
                // For now, we'll just return all the reviews at once. We'll separate by page later, if needed.
                reviewNum = event.target.id.substring(5); // ID# of button
                reviewId = parseInt(document.getElementById("rev" + reviewNum).innerHTML);
                values[1] = reviewId;

                // Update like number and button color
                if (revReacts[i].innerHTML == 1) {
                    likeBtns[i].classList.remove("liked");
                    let likeText = document.getElementById("likes" + i);
                    likeText.innerHTML = parseInt(likeText.innerHTML) - 1;
                    revReacts[i].innerHTML = 0;
                } else if (revReacts[i].innerHTML == -1) {
                    likeBtns[i].classList.add("liked");
                    dislikeBtns[i].classList.remove("disliked");
                    let likeText = document.getElementById("likes" + i);
                    likeText.innerHTML = parseInt(likeText.innerHTML) + 1;
                    let dislikeText = document.getElementById("dislikes" + i);
                    dislikeText.innerHTML = parseInt(dislikeText.innerHTML) - 1;
                    revReacts[i].innerHTML = 1;
                } else {
                    likeBtns[i].classList.add("liked");
                    let likeText = document.getElementById("likes" + i);
                    likeText.innerHTML = parseInt(likeText.innerHTML) + 1;
                    revReacts[i].innerHTML = 1;
                }
                sendLikeOrDislike(values);
            });

            dislikeBtns[i].addEventListener("click", function() {
                // Dislike button logic
                let values = [];
                values[0] = 0;
                reviewNum = event.target.id.substring(5); // ID# of button
                reviewId = parseInt(document.getElementById("rev" + reviewNum).innerHTML);
                values[1] = reviewId;

                // Update dislike number and button color
                if (revReacts[i].innerHTML == -1) {
                    dislikeBtns[i].classList.remove("disliked");
                    let dislikeText = document.getElementById("dislikes" + i);
                    dislikeText.innerHTML = parseInt(dislikeText.innerHTML) - 1;
                    revReacts[i].innerHTML = 0;
                } else if (revReacts[i].innerHTML == 1) {
                    dislikeBtns[i].classList.add("disliked");
                    likeBtns[i].classList.remove("liked");
                    let likeText = document.getElementById("likes" + i);
                    likeText.innerHTML = parseInt(likeText.innerHTML) - 1;
                    let dislikeText = document.getElementById("dislikes" + i);
                    dislikeText.innerHTML = parseInt(dislikeText.innerHTML) + 1;
                    revReacts[i].innerHTML = -1;
                } else {
                    dislikeBtns[i].classList.add("disliked");
                    let dislikeText = document.getElementById("dislikes" + i);
                    dislikeText.innerHTML = parseInt(dislikeText.innerHTML) + 1;
                    revReacts[i].innerHTML = -1;
                }
                sendLikeOrDislike(values);
            });

            // This block sets the like/dislike button colors on page load
            if (revReacts[i].innerHTML == 1) {
                // User has liked this review
                likeBtns[i].classList.add("liked");
            } else if (revReacts[i].innerHTML == -1) {
                // User has disliked this review
                dislikeBtns[i].classList.add("disliked");
            }
        }

        function sendLikeOrDislike(values) {
            $.ajax({
                    type: "POST",
                    url: "review-data/addRevReact",
                    data: {vals: values},
                    timeout: 30,
                }).done(function (data) {
                    console.log(data);
                });
        }

    </script>
</body>

</html>