<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Verify Email</title>
    </head>
    <body>
        <button id="verify">Confirm Signup</button>
        <p id="favorable" style="display: none">Your account has been verified. Please click <a href="/login">here</a> to login.</p>
        <p id="unfavorable" style="display: none">Either the link is incorrect or has expired. Please click <button id="newlink">here</button>.</p>
        <p id="anewlink" style="display: none">A new link has been generated.</p>
    </body>
    <script>
        document.getElementById("verify").addEventListener("click", function(e) {
            try {
                const response = fetch(window.location.href, {
                    method: "POST"
                }).then((response) => {
                    if (response.status == 200) {
                        document.getElementById("verify").style.display = 'none';
                        document.getElementById("favorable").style.display = 'block';
                    }
                    else {
                        document.getElementById("verify").style.display = 'none';
                        document.getElementById("unfavorable").style.display = 'block';
                    }
                });
            } catch(error) {
                console.log(error);
            }
        });
        document.getElementById("newlink").addEventListener("click", function(e) {
            try {
                const response = fetch(window.location.href + "/new-link", {
                    method: "POST"
                }).then((response) => {
                    document.getElementById("unfavorable").style.display = 'none';
                    document.getElementById("anewlink").style.display = 'block';
                });
            } catch(error) {
                console.log(error);
            }
        });
    </script>
</html>