<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <header>
        <title>Message</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </header>
    <body>
        <h1>Conversations</h1>
        <table>
            <tr th:each="message : ${messages}">
                <td><span th:text="${message.getContent()}"></span></td>
            </tr>
        </table>
        <form action="#" method="post">
            <input type="text" name="content"/>
            <input type="submit" name="submit" value="submit" />
        </form>
    </body>
</html>